In [6]:
#Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.


a=10
b=15
c=20
d=25
Total_cost=sum([a,b,c,d])
costs=[a,b,c,d]
n=len(costs)
avg_cost=Total_cost/n
max_cost=max(a,b,c,d)
min_cost=min(a,b,c,d)
print("Total cost is %f, average cost is %.2f, maximum cost is %f, minimum cost is %f"%(Total_cost, avg_cost, max_cost, min_cost))

Total cost is 70.000000, average cost is 17.50, maximum cost is 25.000000, minimum cost is 10.000000

In [10]:
#Assign “ten” value to variable it is 10 otherwise assign “Not ten”

a=float(input("Enter the variable value:"))
if a==10:
    print("ten")
else:
    print("Not ten")

Enter the variable value:10
ten

In [15]:
#Take number from the user decide whether it is even or odd.


number=int(input("Enter the number:"))
if number%2==0:
    print("number is even number")
else:
    print("number is odd number")

Enter the number:11
number is odd number

In [21]:
#Take number from the user decide whether it is even or odd.

number=int(input("Enter the number:"))
if number>=0:
    print("number is positive number")
else:
    print("number is negative number")

Enter the number:-12
number is negative number

In [41]:
number1=float(input("Enter the number1:"))
number2=float(input("Enter the number2:"))
print("Menu:\n\t1. Addition:\n\t2.  Substraction\n\t3.  Multiplication\n\t4.  Division")
opt=float(input("Enter the option:"))
if opt==1:
    print("Addition: ",number1+number2)
elif opt==2:
    print("Substraction: ",number1-number2)
elif opt==3:
    print(number1*number2)
elif opt==4:
    print(number1/number2)
else:
    print("no number available")

Enter the number1:12
Enter the number2:2
Menu:
	1. Addition:
	2.  Substraction
	3.  Multiplication
	4.  Division
Enter the option:4
6.0

In [32]:
s=input("Enter the string:")
l=len(s)
if l>0:
    print(l)
else:
    print("no length for the string")

Enter the string:
length of the string

In [33]:
s=input("Enter the string:")
if bool(s)>0:
    print(len(s))
else:
    print("no length for the string")

Enter the string:afadsa
6

In [34]:
s=input("Enter the string:")
if s: #bool(s)
    print(len(s))
else:
    print("error message")

Enter the string:fafwa
5

In [40]:
a=[1,34,2,34,3,123,4]
a.sort()
print(a)

[1, 2, 3, 4, 34, 34, 123]

In [6]:
print("Menu:\n\t1. kids\n\t2. Men\'s\n\t3. Women\'s\n\t4.  Division")
opt=float(input("Enter the option:"))
if opt==1:
    print("you are a kid")
elif opt==2:
    print("you are a gentlemen")
elif opt==3:
    print("you are a good women ")
else:
    print("error message")

Menu:
	1. kids
	2. Men's
	3. Women's
	4.  Division
Enter the option:2
you are a gentlemen

In [2]:
#shortcut for if else/ even or odd

number=25
res="Even" if number%2==0 else "Odd"
print(res)

Odd

In [4]:
#positive or negative

number=25
res="Positive" if number>=0 else "Negative"
print(res)

Positive

In [7]:
#slicing 
s="python program"
print(s[0:5])

pytho

In [8]:
s="python program"
print(s[3:9])

hon pr

In [13]:
s="python program"
print(s[-10:-2])

on progr

In [14]:
s="python program"
print(s[0:14])

python program

In [27]:
s="hyderabad"
print(s[7::-1])

abaredyh

In [19]:
s="hyderabad"
print(s[2:7:2])

drb

In [20]:
s="hyderabad"
print(s[-7:-2])

derab

In [23]:
s="hyderabad"
print(s[-2:-7:-2])

aae

In [29]:
s="hyderabad"
print(s[:])

hyderabad

In [30]:
s="hyderabad"
print(s[::-1])

dabaredyh

In [31]:
s="hyderabad"
print(s[:5:1])

hyder

In [32]:
s="hyderabad"
print(s[5::1])

abad

In [33]:
s="hyderabad"
print(s[:5:-1])

dab

In [35]:
s="hyderabad"
print(s[5::-1])

aredyh

In [39]:
l=[10,20,-30,40]
n=l[0]
if n>=0:
    print("positive")
else:
    print("negative")
n=l[1]
if n>=0:
    print("positive")
else:
    print("negative")
n=l[2]
if n>=0:
    print("positive")
else:
    print("negative")
n=l[3]
if n>=0:
    print("positive")
else:
    print("negative")

positive
positive
negative
positive

In [37]:
l=[10,20,-30,40]
for n in l:
    print(n)

10
20
-30
40

In [40]:
l=[1,2,3,4,5,6,7,8,89]
for n in l:
    print(n)

1
2
3
4
5
6
7
8
89

In [41]:
l=(1,2,3,4,5,6,7,8,89)
for n in l:
    print(n)

1
2
3
4
5
6
7
8
89

In [5]:
print("Started")
if False:
    print("A")
else:
    pass #it will pass the statement if there is an empty block 
    print("d")
print("ended")

Started
d
ended